

<% content_for :head_additional do %>
	<script type="text/javascript">
		$(document).ready( function () {
			listPageReady();
		} );
	</script>
<% end %>

<span><%= link_to '<- Back to lists', lists_path %></span> 

<div class="list-head">
	<h1>List, <%= @list.name %></h1>
	<span><%= link_to 'Remove', @list, :method => 'delete', :confirm => 'Do you really want to remove list ' + @list.name %></span>
</div>

<div id="list" data-list="<%= @list.id %>">
	<%= render :partial => 'lists/list' %>
</div>

<div id="status">&nbsp;</div>
<input id="add-new" type="button" value="Add">
<input id="remove-checked" type="button" value="Remove checked">

<div class="form" id="form">
</div>