<div class="login-head">
	<h1>Login</h1>
	<span>or <%= link_to 'Sign up', '/signup' %></span>
</div>
<%= form_tag :action => 'login_attempt' do %>
	<div class="login-field">
		<label>Email:</label>
		<div><%= text_field_tag :email %></div>
	</div>
	<div class="login-field">
		<label>Password:</label>
		<div><%= password_field_tag :password %></div>
	</div>
	<div class="login-field submit">
		<div><%= submit_tag "Login" %></div>
	</div>
<% end %>