<header>
	<h1>Sign up</h1>
</header>

<ul class="signup-errors">
	<% if @user.errors.any? %>
		<% for message in @user.errors.full_messages %>
			<li><%= message %></li>
		<% end %>
	<% end %>
</ul>

<%= form_for @user, :url => url_for( :controller => 'users', :action => 'create' ) do |user_form| %>
	<div>
		<label for"user_name">Your name:</label>
		<div><%= user_form.text_field :name %></div>
	</div>
	<div>
		<label for="user_email">Email:</label>
		<div><%= user_form.text_field :email %></div>
	</div>
	<div>
		<label for="user_password">Password:</label>
		<div><%= user_form.password_field :password %></div>
	</div>
	<div>
		<label for="user_password_confirmation">Confirm password:</label>
		<div><%= user_form.password_field :password_confirmation %></div>
	</div>
	<div>
		<%= user_form.submit "Sign up" %>
		<%= link_to 'Cancel', '/', :class => 'cancel' %>
	</div>
<% end %>
